<div class="header-section d-flex">
    <div class="logo-section">
        <img src="https://placehold.jp/50x90.png" alt="logo" />
    </div>  
    <div class="nav-section">
        <ul class="nav-list">
            <li class="nav-item">
                <app-anchor [textVal]="'Home'" [hrefVal]="'/home'"></app-anchor>
            </li>
            <li class="nav-item">
                <app-anchor [textVal]="'About'" [hrefVal]="'/about'"></app-anchor>
            </li>
        </ul>
    </div>
</div>
