<app-header></app-header>
<section class="body-section">
    <span (click)="changeName()" appHighlight>Body works here !!</span>

    My Social profiles are:
    <div>
        <app-anchor [textVal]="'LinkedIn'" [hrefVal]="'https://www.linkedin.com/in/abhishek-kumar-4b1b0b1a/'" [targetBlank]="true"></app-anchor>
    </div>
    <div>
        <app-anchor [textVal]="'Twitter'" [hrefVal]="'https://twitter.com/abhishekkrdev'" [targetBlank]="true"></app-anchor>
    </div>
    <div class="for-pipe">
        <p><strong>Custom Pipe example</strong></p>
        <div (click)="printPipe()">
            {{ longText | truncate : 20 }}
            
        </div>
    </div>
</section>
<app-footer></app-footer>
